<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue.js Method</title>
    <style>
        .box{
        background-color: blue;
        height: 200px;
        width: 200px;
        }
        .box.two{
        background-color: pink;
        }
        .box.three{
        background-color: red;
        }
        [v-cloak]{
        display: none;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>

        <button @click="toggleBox">toggle</button>
        <button @click="addCount">add count</button>
        <h2>{{ count }}</h2>
        <hr>
        <input type="text" @keyup.enter="greet" v-model="greetings">
        <hr>
        <div class="box" v-if="isVisible"></div>
        <div class="box two" v-else-if="isVisible2"></div>
        <div class="box three" v-else></div>

    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script>
        let app = Vue.createApp({
            data: () => {
                return {
                    greetings: 'Hello',
                    isVisible: true,
                    isVisible2: true,
                    count: 0,
                }
            },
            methods: {
                addCount() {
                    this.count++;
                },
                toggleBox() {
                    this.isVisible = !this.isVisible
                },
                greet() {
                    console.log(this.greetings)
                }
            }
        });
        app.mount('#app');
    </script>
</body>
</html>